<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the future...FAKEBOOK</h1>
    <p>Wassup wassup wassup yo</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more about the future &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
 
   <form novalidate>
    First Name:<br>
    <input type="text" ng-model="user.firstName"><br>
    Last Name:<br>
    <input type="text" ng-model="user.lastName"><br>
    User Name:<br>
    <input type="text" ng-model="user.username"><br>
    Email:<br>
    <input type="text" ng-model="user.email"><br>
    User Name:<br>
    <input type="text" ng-model="user.password"><br>
    <br><br>
    <button ng-click="reset()">RESET</button>
  </form>

 
  <hr>

  <footer>
    <p>&copy; Fakebook 2015+</p>
  </footer>
</div>
